html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0px; 
    padding: 0px;     
    font-size: 14px;   // 1rem = 14px
}

@media screen and (min-width: 500px){
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 570px){
  html{
    font-size: 15px;
  }
}
@media screen and (min-width: 620px){
  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 680px){
  html{
    font-size: 17px;
  }
}

h1{
    font-size: 2.57rem;
    line-height: 3.43rem;
    margin: 0 0 1.71rem 0;
}

h2{
    font-size: 1.71rem;
    line-height: 2.36rem;
    margin: 0 0 1.21rem 0;
}

h3{
    font-size: 1.29rem;
    line-height: 1.86rem;
    margin: 0 0 .93rem 0;
}

h4, p{
    font-size: 1rem;
    line-height: 1.57rem;
    margin: .5rem 0 .5rem 0;
}

h5, small{
    font-size: .86rem;
    line-height: 1.43rem;
    margin: 0 0 .5rem 0;
}

h6, abbr{ 
    font-size: .71rem;
    line-height: 1.29rem;
    margin: 0 0 .64rem 0;
}
/* Column Classes */
.clearfix {
    *zoom: 1;
    
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


.wrapper {
    width: 100%;
    margin: 0px auto;
}

.row{
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    margin: 0 auto;
    .row {
        min-width: 0;
    }
    .columns, .column {
        display: block;
        
        &.one {
            width: 5.61798%;
            &.centered{
                margin-left: (100% - 5.61798%) / 2;
                margin-right: (100% - 5.61798%) / 2;
            } 
        }
        &.two {
            width: 13.48315%;
            $two-columns: 13.48315%;
            &.centered {
                margin-left: (100% - 13.48315%) / 2;
                margin-right: (100% - 13.48315%) / 2;
            }
        }
        &.three {
            width: 21.34831%;
            &.centered {
                margin-left: (100% - 21.34831%) / 2;
                margin-right: (100% - 21.34831%) / 2;
            }
        }
        &.four {
            width: 29.21348%;
            &.centered {
                margin-left: (100% - 29.21348%) / 2;
                margin-right: (100% - 29.21348%) / 2;
            }
        }
        &.five {
            width: 37.07865%;
            &.centered {
                margin-left: (100% - 37.07865%) / 2;
                margin-right: (100% - 37.07865%) / 2;
            }
        }
        &.six {
            width: 44.94382%;
            &.centered {
                margin-left: (100% - 44.94382%) / 2;
                margin-right: (100% - 44.94382%) / 2;
            }
        }
        &.seven {
            width: 52.80899%;
            &.centered {
                margin-left: (100% - 52.80899%) / 2;
                margin-right: (100% - 52.80899%) / 2;
            }
        }
        &.eight {
            width: 60.67416%;
            &.centered {
                margin-left: (100% - 60.67416%) / 2;
                margin-right: (100% - 60.67416%) / 2;
            }
        }
        &.nine {
            width: 68.53933%;
            &.centered {
                margin-left: (100% - 68.53933%) / 2;
                margin-right: (100% - 68.53933%) / 2;
            }
        }
        &.ten {
            width: 76.40449%;
            &.centered {
                margin-left: (100% - 76.40449%) / 2;
                margin-right: (100% - 76.40449%) / 2;
            }
        }
        &.eleven {
            width: 84.26966%;
            &.centered {
                margin-left: (100% - 84.26966%) / 2;
                margin-right: (100% - 84.26966%) / 2;
            }
        }
        &.twelve {
            width: 92.13483%;
            &.centered {
                margin-left: (100% - 92.13483%) / 2;
                margin-right: (100% - 92.13483%) / 2;
            }
        }
        &.thirteen {
            width: 100%;
        }
        &.one-third{
            width: 31.83523%;
        }
        &.two-thirds{
            width: 65.91765%;
        }
        &.one-fourth{
            width: 23.31460%;
        }
        &.two-fourth{
            width: 48.87640%;
        }
        &.three-fourth{
            width: 74.43818%;
        }
        &.one-half{
            width: 48.87640%;
        }
        //-------------------- 1/4 ------------------------
        &.push-one-fourth-center{
            margin-left: 23.31460% + 2 * 2.24719%;
        }
        &.push-one-fourth-left{
            margin-left: 23.31460% + 2.24719%;
        }
        &.push-one-fourth-right{
            margin-right: 23.31460% + 2.24719%;
        }
        //--------------------- 2/4 -----------------------
        &.push-two-fourth-center{
            margin-left: 48.87640% + 2 * 2.24719%;
        }
        &.push-two-fourth-left{
            margin-left: 48.87640% + 2.24719%;
        }
        &.push-two-fourth-right{
            margin-right: 48.87640% + 2.24719%;
        }
        //--------------------- 3/4 -----------------------
        &.push-three-fourth-left{
            margin-left: 74.43818% + 2.24719%;
        }
        &.push-three-fourth-right{
            margin-right: 74.43818% + 2.24719%;
        }
        //--------------------- 1/3 -----------------------
        &.push-one-third-center{
            margin-left: 31.83523% + 2 * 2.24719%;
        }
        &.push-one-third-left{
            margin-left: 31.83523% + 2.24719%;
        }
        &.push-one-third-right{
            margin-right: 31.83523% + 2.24719%;
        }
        //--------------------- 2/3 -----------------------
        &.push-two-third-left{
            margin-left: 65.91765% + 2.24719%;
        }
        &.push-two-third-right{
            margin-right: 65.91765% + 2.24719%;
        }
        //-------------------- 1/2 ------------------------
        &.push-one-half-left{
            margin-left: 48.87640% +  2.24719%;
        }
        &.push-one-half-right{
            margin-right: 48.87640% + 2.24719%;
        }
    }
}

.tiles { 
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
    height: auto;
    padding-bottom: 0;
    list-style: none;
    li {
        line-height: 38px;
        text-align: center;
        min-height: 38px;
        margin-bottom: 10px;
        margin-left: 2%;
        display: block;
        @extend .showcase;
    }
    &.two-up{
        margin-left: -4%;
        li {
            margin-left: 4%;
            width: 45.74365%;
            float: left;
        }
    }
    &.three-up {
        margin-left: -4%;
        li {
            margin-left: 4%;
            width: 45.74365%;
            float: left;
        }
    }
    &.four_up{
        margin-left: -2%;
        li {
            margin-left: 2%;
            width: 22.737%;
            float: left;
        }
    }
    &.five_up{
        margin-left: -2%;
        li {
            margin-left: 2%;
            width: 22.737%;
            float: left;
        }
    }
}

.showcase {
    background: rgba(0,255,255,0.1);
    min-height: 38px;
    line-height: 38px;
    font-size: 14px;
    color:#333;
    border: 1px solid rgba(0,255,255,1);
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    &:hover {
        font-size: 18px;
    }
}

.column, .columns {
    margin-left: 2.24719%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &.showcase {
        @extend .showcase;  
    }
}
.column, .columns {
    &:first-child {
        margin-left: 0;
    }
}

.phi {
    width: 100%;
    max-width: 100%;
    min-width: 320px;
    margin: 0 auto;
}

.alpha, .omega {
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &.showcase {
        @extend .showcase;  
    }
}

.alpha{
    width: 38.196875%;
}

.omega {
    width: 61.803125%;
}