html, body { height: 100%; width: 100%; margin: 0px; padding: 0px; }

/* Nicolas Gallagher's micro clearfix */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.row { width: 100%; max-width: 100%; min-width: 320px; margin: 0 auto; }
.row .row { min-width: 0; }

/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns { margin-left: 2.24719%; float: left; min-height: 100px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid pink; }
.column:first-child, .columns:first-child { margin-left: 0; }

/* Column Classes */
.row .one.column,
.row .one.columns { width: 5.61798%; }
.row .two.columns { width: 13.48315%; }
.row .three.columns { width: 21.34831%; }
.row .four.columns { width: 29.21348%; }
.row .five.columns { width: 37.07865%; }
.row .six.columns { width: 44.94382%; }
.row .seven.columns { width: 52.80899%; }
.row .eight.columns { width: 60.67416%; }
.row .nine.columns { width: 68.53933%; }
.row .ten.columns { width: 76.40449%; }
.row .eleven.columns { width: 84.26966%; }
.row .twelve.columns { width: 92.13483%; }
.row .thirteen.columns { width: 100%; }

.phi { width: 100%; max-width: 100%; min-width: 320px; margin: 0 auto; }
.alpha, .omega { float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: rgba(0,255,255,0.2); }
.alpha { width: 38.196875%; }
.omega { width: 61.803125%; }